/_book/
/.quarto/
.posit/
.Rproj.user/
.Rhistory
.RData
.DS_Store
**/*.quarto_ipynb

/.luarc.json
images/frames/frame_001.png
images/frames/frame_002.png
images/frames/frame_003.png
images/frames/frame_004.png
images/frames/frame_005.png
images/frames/frame_006.png
images/frames/frame_007.png
images/frames/frame_008.png
images/frames/frame_009.png
images/frames/frame_010.png
images/frames/frame_011.png
images/frames/frame_012.png
images/frames/frame_013.png
images/frames/frame_014.png
images/frames/frame_015.png
images/frames/frame_016.png
images/frames/frame_017.png
images/frames/frame_018.png
images/frames/frame_019.png
images/frames/frame_020.png
images/frames/frame_021.png
images/frames/frame_022.png
images/frames/frame_023.png
images/frames/frame_024.png
images/frames/frame_025.png
images/frames/frame_026.png
images/frames/frame_027.png
images/frames/frame_028.png
images/frames/frame_029.png
images/frames/frame_030.png
images/frames/frame_031.png
images/frames/frame_032.png
images/frames/frame_033.png
images/frames/frame_034.png
images/frames/frame_035.png
images/frames/frame_036.png
images/frames/frame_037.png
images/frames/frame_038.png
images/frames/frame_039.png
images/frames/frame_040.png
images/frames/frame_041.png
images/frames/frame_042.png
images/frames/frame_043.png
images/frames/frame_044.png
images/frames/frame_045.png
images/frames/frame_046.png
images/frames/frame_047.png
images/frames/frame_048.png
images/frames/frame_049.png
images/frames/frame_050.png
images/frames/frame_051.png
images/frames/frame_052.png
images/frames/frame_053.png
images/frames/frame_054.png
images/frames/frame_055.png
images/frames/frame_056.png
images/frames/frame_057.png
images/frames/frame_058.png
images/frames/frame_059.png
images/frames/frame_060.png
images/frames/frame_061.png
images/frames/frame_062.png
images/frames/frame_063.png
images/frames/frame_064.png
images/frames/frame_065.png
images/frames/frame_066.png
images/frames/frame_067.png
images/frames/frame_068.png
images/frames/frame_069.png
images/frames/frame_070.png
images/frames/frame_071.png
images/frames/frame_072.png
images/frames/frame_073.png
images/frames/frame_074.png
images/frames/frame_075.png
images/frames/frame_076.png
images/frames/frame_077.png
images/frames/frame_078.png
images/frames/frame_079.png
images/frames/frame_080.png
images/frames/frame_081.png
images/frames/frame_082.png
images/frames/frame_083.png
images/frames/frame_084.png
images/frames/frame_085.png
images/frames/frame_086.png
images/frames/frame_087.png
images/frames/frame_088.png
images/frames/frame_089.png
images/frames/frame_090.png
images/frames/frame_091.png
images/frames/frame_092.png
images/frames/frame_093.png
images/frames/frame_094.png
images/frames/frame_095.png
images/frames/frame_096.png
images/frames/frame_097.png
images/frames/frame_098.png
images/frames/frame_099.png
images/frames/frame_100.png
images/frames/frame_101.png
images/frames/frame_102.png
images/frames/frame_103.png
images/frames/frame_104.png
images/frames/frame_105.png
images/frames/frame_106.png
images/frames/frame_107.png
images/frames/frame_108.png
images/frames/frame_109.png
images/frames/frame_110.png
images/frames/frame_111.png
images/frames/frame_112.png
images/frames/frame_113.png
images/frames/frame_114.png
images/frames/frame_115.png
images/frames/frame_116.png
images/frames/frame_117.png
images/frames/frame_118.png
images/frames/frame_119.png
images/frames/frame_120.png
